*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(wallpaper.jpg);
    background-size: cover;
    align-items: center;
    justify-content: center;
    margin: auto;
}

/* Navbar Start */
.navbar {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    /* border: 1px solid black; */
    padding-right: 20px;
    padding-left: 20px;
}
.navbar h1 {
    cursor: pointer;
    color: #fff;
    margin-right: 15px;
    font-family: 'Akaya Telivigala', cursive;
}
.navbar input{
    width: 500px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.navbar ul{
    display: flex;
    width: 40%;
    list-style: none;
    justify-content: space-evenly;
}
.navbar ul li{
    margin-right: 5px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.mobile-header{
    display: none;
}
/* Navbar End */

/* Header Start*/
.warp-box{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}
.box-kiri{
    border: 1px solid;
    border-radius: 25px;
    height: 350px;
    width: 550px;
    margin: 0 10px;
    background-color: rgba( 0, 0, 0, 0.5);
}
.box-kanan{
    border: 1px solid;
    border-radius: 25px;
    height: 350px;
    width: 550px;
    margin: 0 10px;
    background-color: rgba( 0, 0, 0, 0.5);
}
/* Header Start */

/* Main Start */
.main-top{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
}
.mt-kiri{
    border: 1px solid;
    border-radius: 25px;
    height: 350px;
    width: 550px;
    margin: 15px 20px;
    background-color: rgba( 0, 0, 0, 0.5);
}
.mt-mid{
    border: 1px solid;
    border-radius: 25px;
    height: 350px;
    width: 550px;
    margin: 15px 20px;
    background-color: rgba( 0, 0, 0, 0.5);
}
.mt-kanan{
    border: 1px solid;
    border-radius: 25px;
    height: 350px;
    width: 550px;
    margin: 15px 20px;
    background-color: rgba( 0, 0, 0, 0.5);
}
/* Main End */

.footer{
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
}
span{
    color: grey;
}

@media only screen and (max-width:800px) {
    .navbar{
        display: none;
    }
    .mobile-header{
        display: block;
        text-align: center;
        margin-top: 30px;
        color: #fff;
        font-family: 'Akaya Telivigala', cursive;
    }
    .warp-box{
        flex-direction: column;
        align-items: center;
    }
    .box-kanan{
        margin-top: 20px;
    }
    .main-top{
        flex-direction: column;
        align-items: center;
    }
    .mt-mid{
        margin-top: 20px;
    }
    .mt-kanan{
        margin-top: 20px;
    }
}